  /* My Defaults */

*{
  margin:0px;
}

a{
  text-decoration: none;/*disappear under line*/
}






/* End My Defaults */

/* Header */

#header{
 padding: 10px 30px ;
 border-bottom: 1px solid black;
}

#logo{
  
  display:inline-block;
}

 #logo .br{
  font-size: 20px;
  font-weight: bold;
   text-transform: uppercase; /* All letters become upper */
   margin-right:5px;
   letter-spacing: 3px; /*Spaciing between letter */
 }
 
 #logo .arc{
  font-size: 20px;
  letter-spacing: 3px;
 }

 #nav{
  display: inline-block;
  width: 85%;
  text-align: right;
 }

 #nav li{
  display: inline-block;
 }

#nav li a{
  color:#000;
  font-size: 20px;
  letter-spacing: 4px;
  padding:10px;
  display: inline-block;
  
  
}