div{
  
  
  /* background-image: url("../img/1h.jpg"); */
  content: url("../img/1h.jpg");

  padding: 10px;
  width:22%;
  height: 22%;
  display:inline-block;
  background-repeat: no-repeat;  
  
}
 
